<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

<ul class="navbar-nav">
  <li>
    <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
  </li>
  <li>
    <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Create Employee</a>
  </li>
</ul>

</nav>

<h1 class="text-center">Employee Management System</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>All rights reserved</span>
  </div>
</footer>